
.container-fluid {
    font-family: 'Open Sans', sans-serif;
    background-color: #b8daff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content
{
    flex :1;
}

header{
    background-color: white;
    width: 100%;
}

footer{
    background-color: #0056b3;
    width: 100%;
}

a{
    color: #5eb5e0;
}


header img.img-fluid {
    height: 50px;
}

h1{
    text-align: center;
}