{#templates/default/faq.html.twig#}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Foire aux questions</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolore eligendi enim
        eos et eum facere, fugit iusto molestias, numquam, odio porro possimus quaerat qui quis
        repudiandae totam velit. In. </p>
{% endblock %}

{% block title %}Foire aux Questions de LiqDem{% endblock %}