{% extends 'base.html.twig' %}

{% block content %}
    <h1>Fonctionnement</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae dolore doloremque est
        exercitationem itaque iusto praesentium. Accusantium, at consequatur deserunt fuga fugit ipsa,
        laboriosam nostrum provident ratione sit voluptas!</p>
{% endblock %}

{% block title %}Fonctionnement{% endblock %}