{% extends 'base.html.twig' %}

{% block content %}
    <h1>Mes informations</h1>



    <div >
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, eum fuga non nostrum veniam voluptas.
            Blanditiis debitis dolores earum ex harum, non nulla omnis perspiciatis quae quam quibusdam ratione voluptates?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aperiam consequuntur deleniti ea error
            est impedit laudantium nam officiis pariatur perferendis praesentium quam, quibusdam quod, ratione, recusandae sit tenetur!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse id iusto mollitia, reprehenderit sint
            tenetur! A dolorum et expedita facilis, iusto nesciunt officia quasi quibusdam sint, totam veritatis voluptas, voluptates.</p>
    </div>

{% endblock %}

{% block title %}Mon compte{% endblock %}